<p id="notice"><%= notice %></p>

<h1 class="headline center">Portfolios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.title %></td>
        <td><%= portfolio.description %></td>
        <% if portfolio.profile_img.attached? %>
          <%= image_tag( portfolio.profile_img, class: "img-thumbnail", style:"width: rem: 5;") %>
        <% end %>
        <td><%= link_to 'Show', portfolio %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
